#api-table {
    margin: 25px auto;
    width: 90%;
}

#api-table th {
    border: 2px solid aliceblue;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

#api-table td {
    padding: 2px;
    text-align: left;
    vertical-align: top;
    border: 2px solid aliceblue;
    font-size: 0.9rem;
}